* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #050816;
  color: white;
  font-family: "Segoe UI", sans-serif;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #8b5cf6;
  transition: 0.3s;
}

a:hover {
  color: #a78bfa;
}

button {
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-3px);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050816;
}

::-webkit-scrollbar-thumb {
  background: #8b5cf6;
  border-radius: 10px;
}